.logger-settings {
    & .fix-logger-acmp-icon {
        position: relative;
        top: 2px;
        left: -2px;
    }
    & .wa-autocomplete-tag:has(.dashicons.dashicons-plus-alt2:hover) .fix-logger-acmp-icon {
        color: inherit;
    }
    & .wa-autocomplete-suggestions .fix-logger-acmp-icon {
        top: 1px;
        left: unset;
    }
    & .toolbar {
        display: flex;
    }
    .wa-container.form-adding {
        border: 1px solid #58b16d;
        & .wa-container-title {
            background: #f5fff6;
        }
    }
    & .wa-autocomplete-control input,
    & .wa-autocomplete-control input:focus {
        padding-bottom: 2px;
    }
}
