:is(.wa-cf7-phone-container, .wa-cf7-country-container) {
    & .react-tel-input {
        & .country-list .search {
            padding: 0;
            & .search-box {
                margin: 0;
                border-radius: 0;
                border-width: 0 0 1px 0;
                padding: 10px 12px;
                width: 100%;
            }
        }
        & .form-control {
            padding: 14.5px 14px 14.5px 60px;
        }
    }
}
